@font-face {
    font-family: 'Roboto Slab Bold';
    font-weight: normal;
    font-style: normal;
    src: url('../webfonts/RobotoSlab-Bold-webfont.eot');
    src: url('../webfonts/RobotoSlab-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../webfonts/RobotoSlab-Bold-webfont.woff') format('woff'),
         url('../webfonts/RobotoSlab-Bold-webfont.ttf') format('truetype'),
         url('../webfonts/RobotoSlab-Bold-webfont.svg#roboto_slabbold') format('svg');
}
@font-face {
  font-family: 'fontello';
  src: url('../webfonts/fontello.eot?62093333');
  src: url('../webfonts/fontello.eot?62093333#iefix') format('embedded-opentype'),
       url('../webfonts/fontello.woff?62093333') format('woff'),
       url('../webfonts/fontello.ttf?62093333') format('truetype'),
       url('../webfonts/fontello.svg?62093333#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}

